*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width:100%;
  background-color: rgb(15, 19, 20);
  color: white;
}

.app-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 2rem;
    gap: 1rem;

    .sidebar{
        background-color: rgb(54, 54, 54);
        width: 3.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: start;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 0.5rem;

        .top-icon{
            border-bottom:1px solid white ;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }

        .mid-icon{
            padding-top: 2rem;
            padding-bottom: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 1.5rem;
        }

        .low-icon{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-top:1px solid white ;
            margin-top: 7rem;
            padding-top:1rem ;
            
            
            img{
                width: 100%;
                border-radius: 50%;
            }
        }

    }
    .main-container{
        background-color: rgb(31, 31, 31);
        width: 100%;
        height: 100%;
        border-radius: 10px;

        .main-upper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1rem;

            .greeting{
                h4{
                    color: rgb(152, 152, 152);
                    font-size: 1.2rem;
                }
                h2{
                    color: beige;
                    font-size: 1.5rem;
                }
            }

            .search-box{
                padding-right: 5rem;
                color: rgb(255, 255, 255);
                input{
                    background-color: rgb(32, 32, 32);
                    border: none;
                    border:1px solid white;
                    padding-left: 1rem;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    text-align: start;
                    width: 20rem;
                    height: 2.5rem;
                }
            }
        }
    }
}