* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 19, 20);
  color: white;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* mobile*/
  padding: 2rem;
  gap: 1rem;
}
.app-container .sidebar {
  background-color: rgb(54, 54, 54);
  width: 3.5rem;
  display: none; /* mobile*/
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: start;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0.5rem;
}
.app-container .sidebar .top-icon {
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.app-container .sidebar .mid-icon {
  padding-top: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
}
.app-container .sidebar .low-icon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid white;
  margin-top: 7rem;
  padding-top: 1rem;
}
.app-container .sidebar .low-icon img {
  width: 100%;
  border-radius: 50%;
}
.app-container .main-container {
  background-color: rgb(31, 31, 31);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app-container .main-container .main-upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.8rem;
}
.app-container .main-container .main-upper .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-container .main-container .main-upper .header-right {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.app-container .main-container .main-upper .profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.app-container .main-container .main-upper .menu-icon {
  font-size: 1.6rem;
}
.app-container .main-container .main-upper .greeting-top h4 {
  color: rgb(152, 152, 152);
  font-size: 0.8rem;
}
.app-container .main-container .main-upper .greeting-sub {
  font-size: 1rem;
  color: beige;
}
.app-container .main-container .main-upper .search-box {
  width: 100%; /* mobile*/
  position: relative;
  color: rgb(255, 255, 255);
}
.app-container .main-container .main-upper .search-box input {
  background-color: rgb(32, 32, 32);
  color: beige;
  border: none;
  border: 1px solid white;
  padding-left: 2rem;
  font-size: 1.2rem;
  border-radius: 20px;
  text-align: start;
  width: 100%;
  height: 2.5rem;
}
.app-container .main-container .main-upper .search-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 0.5rem;
}
.app-container .main-container .main-area {
  display: flex;
  flex-direction: column;
}
.app-container .main-container .main-area .current-wheather {
  height: 20rem;
  width: 100%;
  background-color: #0d0c0c;
  border-radius: 10px;
  padding: 1rem;
}
.app-container .main-container .main-area .current-wheather .current-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-container .main-container .main-area .current-wheather .current-upper .CU-location {
  display: flex;
  align-items: center;
  background-color: #353535;
}
.app-container .main-container .main-area .current-wheather .current-middle {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-container .main-container .main-area .current-wheather .CU-date {
  text-align: right;
  font-size: 0.8rem;
  color: #ccc;
}
.app-container .main-container .main-area .current-wheather .CU-temp h1 {
  font-size: 3rem;
}
.app-container .main-container .main-area .current-wheather #condition {
  font-size: 0.9rem;
  color: #ccc;
}
.app-container .main-container .main-area .current-wheather .CU-icon img {
  width: 80px;
  height: 80px;
}

@media (min-width: 1024px) {
  .app-container {
    flex-direction: row;
  }
  .app-container .sidebar {
    display: flex;
    height: 100%;
  }
  .app-container .main-container {
    padding: 1rem 1rem;
  }
  .app-container .main-container .main-upper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
  }
  .app-container .main-container .main-upper .header-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .app-container .main-container .main-upper .header-top .greeting-top h4 {
    font-size: 1rem;
  }
  .app-container .main-container .main-upper .header-top .greeting-top .greeting-sub {
    font-size: 2rem;
  }
  .app-container .main-container .main-upper .header-top .greeting-sub {
    margin-top: 0.2rem;
  }
  .app-container .main-container .main-upper .header-top .header-right {
    display: none;
  }
  .app-container .main-container .main-upper .search-box {
    max-width: 20rem;
  }
  .app-container .main-container .main-upper .search-box input {
    width: 20rem;
  }
}/*# sourceMappingURL=style.css.map */